body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    /* border: 1px solid grey; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    position: absolute;
    width: 450px;
    top: 12%;
}

.input-div {
    margin-bottom: 15px;;
}

img {
    width: 200px;
    padding: 20px;
    border-radius: 50%;
}

p {
    margin-bottom: 0%;
    font-size: 15px;
}

input[type="text"], input[type="password"] {
    width: 96%;
    border: 1px solid grey;
    height: 28px;
    font-size: 13px;
    font-weight: 546;
    padding-left: 8px;
    padding-right: 8px;
}

input[type="submit"] {
    width: 100%;
    color: white;
    background-color: #178245;
    border: 1px solid #178245;
    height: 28px;
    border-radius: 2px;
    font-size: 17px;
}

input[type="submit"]:hover, input[type="checkbox"]:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
}

input[type="reset"]:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
}

.rem {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rem-me {
    margin: 0;
}

.rem-me:hover {
    cursor: pointer;
}

.other-func {
    display: flex;
    align-items: center;
    padding-top: 8px;
    background-color: rgb(209, 209, 209);
}

.cancel {
    flex: 1;
    width: 50%;
    padding: 5px;;
}

#cancel-btn {
    background-color: #f03e26;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    height: 28px;
}

.forgot {
    display: flex;
    /* text-align: right; */
    justify-content: right;
}

a {
    padding: 5px;
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

img {
    position: relative;
    left: 25%;
}