* {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    width: fit-content;
    background-color: rgb(217, 218, 62);
    /* color: rgb(119, 8, 110); */
    color: purple;
    height: 400px;
}

h1 {
    padding: 30px;
    font-size: 40px;
    font-family: initial;
}

ul {
    position: absolute;
}

.navbar {
    width: 140px;
    padding-top: 40px;
    /* border: 2px solid gray; */
}

.main-content {
    text-align: left;
    padding: 10px;
    width: 400px;
}

p {
    display: block;
    padding: 10px;
}

a {
    display: block;
    background-color: white;
    margin-bottom: 10px;
    text-align: left;
    padding: 4px 3px;
    width: 100%;
    text-decoration: none;
    color: blue;
}

a:hover {
    color: inherit;
}

li {
    list-style-type: none;
    border-right: 18px solid black;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 10px;
}

.heading {
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
    padding-left: 10px;
}

br {
    size: 3px;
}
